/* Add CSS Styling */
.odd {
    background-color: rgb(253, 163, 205);
    font-family: 'Verdana', 'DejaVu Sans', 'sans-serif';
}

#second {
    color: rgb(35, 35, 241);
    font-size: 36px;
}

.third {
    font-size: 24px;
}

#fourth {
    background-color: rgb(82, 245, 96);
    font-size: 24px;
    font-weight: bold;
}